.driver-image{
  height: 100;
  width: 100px;
  border-radius: 50%;
  vertical-align: middle;
}


.driver-card{
  display: flex;
  justify-content: center;
}


.div-image{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
