.driver-image{
  height: 100;
  width: 100px;
  border-radius: 50%;
  vertical-align: middle;
}


.driver-card{
  display: flex;
  justify-content: center;
}


.div-image{
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.card-container{
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  height: 200px 
}

.card{
  width: 30%;
  border-radius: 7%;
  text-align: center;
}

.dice {
  height: 75px;
}